Repository rjw57/components-db-golang: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.1
    hooks:
      - id: actionlint
  - repo: local
    hooks:
      - id: go-generate
        name: go generate
        language: docker_image
        entry: golang:1.22
        args: ["sh", "-c", "cd backend && GOCACHE=$PWD/.pre-commit-cache/go-build GOMODCACHE=$PWD/.pre-commit-cache/mod go generate ./..."]
        pass_filenames: false
      - id: go-fmt
        name: go fmt
        exclude: "^(?!backend/)"
        files: "\\.go$"
        language: docker_image
        entry: golang:1.22
        args: ["sh", "-c", "cd backend && GOCACHE=$PWD/.pre-commit-cache/go-build GOMODCACHE=$PWD/.pre-commit-cache/mod go fmt ./..."]
        pass_filenames: false
      - id: go-vet
        name: go vet
        exclude: "^(?!backend/)"
        files: "\\.go$"
        language: docker_image
        entry: golang:1.22
        args: ["sh", "-c", "cd backend && GOCACHE=$PWD/.pre-commit-cache/go-build GOMODCACHE=$PWD/.pre-commit-cache/mod go vet ./..."]
        pass_filenames: false
      - id: go-mod-tidy
        name: go mod tidy
        language: docker_image
        exclude: "^(?!backend/)"
        entry: golang:1.22
        args: ["sh", "-c", "cd backend && GOCACHE=$PWD/.pre-commit-cache/go-build GOMODCACHE=$PWD/.pre-commit-cache/mod go mod tidy"]
        pass_filenames: false

feat: allow specifying backend test to run
  taskfile.yaml
Due: none

feat: remove unusued gendao cmd
  cmd/gendao/main.go
Due: none

feat: use jet query builder
  .github/workflows/test.yaml
  backend/api/cabinets.go
  backend/api/gen.go
  backend/api/models_test.go
  backend/api/queries.go
  backend/api/queries_test.go
  backend/db.go
  backend/db/changelog/changelog.sql
  backend/db/fakes.go
  backend/db/fakes_test.go
  backend/db/main.go
  backend/db/schema/components/public/model/cabinets.go
  backend/db/schema/components/public/table/cabinets.go
  backend/db/schema/components/public/table/table_use_schema.go
  backend/db/testsuite.go
  backend/go.mod
  backend/go.sum
  backend/main.go
  backend/middleware/db.go
  backend/model/cabinets.gen.go
  backend/model/cabinets_test.go
  backend/model/fakes.go
  backend/model/fakes_test.go
  backend/model/testsuite.go
  backend/query/cabinets.gen.go
  backend/query/gen.go
  backend/test/db.go
  cmd/genmodels/main.go
  cmd/go.mod
  cmd/go.sum
  docker-compose.yaml
  go.work.sum
  openapi/spec.yaml
Due: go-fmt, go-vet, go-mod-tidy

feat: remove unused gorm config
  backend/gentool.yaml
Due: go-mod-tidy

feat: log queries in development
  backend/api/cabinets.go
  backend/main.go
Due: go-fmt, go-vet, go-mod-tidy

feat: move genmodels command into backend
  .pre-commit-config.yaml
  backend/cmd/genmodels/main.go
  backend/go.mod
  backend/go.sum
  cmd/go.mod
  cmd/go.sum
  docker-compose.yaml
  go.work
Due: go-fmt, go-vet, go-mod-tidy
