Repository rjw57/components-db-golang: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-generate, go-mod-tidy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.1
    hooks:
      - id: actionlint
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        exclude: "^(?!backend/)"
        language: system
        entry: sh -c "cd backend/ && go fmt ."
        pass_filenames: false
      - id: go-vet
        name: go vet
        exclude: "^(?!backend/)"
        files: "\\.go$"
        language: system
        entry: sh -c "cd backend/ && go vet ."
      - id: go-generate
        name: go generate
        exclude: "^(?!backend/)"
        files: "\\.go$"
        language: system
        entry: sh -c "cd backend/ && go generate ./..."
      - id: go-mod-tidy
        name: go mod tidy
        exclude: "^(?!backend/)"
        files: "\\.go$"
        language: system
        entry: sh -c "cd backend/ && go mod tidy"

chore: add prod-backend to README
  README.md
Due: none

fix(backend): add go build output to gitignore
  backend/.gitignore
Due: go-fmt

feat: add caching to pre-commit
  .github/workflows/backend-test.yaml
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
  Dockerfile
  backend/.gitignore
  backend/go.mod
  backend/go.sum
  backend/middleware/logger/logger_test.go
  docker-compose.yaml
Due: go-fmt, go-vet, go-generate, go-mod-tidy

add extra path to backend
  backend/api/gen.go
  backend/api/impl.go
  backend/go.mod
  backend/go.sum
  openapi/spec.yaml
Due: go-fmt, go-vet, go-generate, go-mod-tidy

feat: add database migrations
  README.md
  backend/api/cabinets.go
  backend/atlas.hcl
  backend/go.mod
  backend/go.sum
  backend/migrations/20240712155834.sql
  backend/migrations/atlas.sum
  backend/models/models.go
  backend/tools/tools.go
  docker-compose.yaml
Due: go-fmt, go-vet, go-generate, go-mod-tidy

feat: implement first querying for cabinets
  README.md
  backend/api/cabinets.go
  backend/api/gen.go
  backend/api/main.go
  backend/api/oapi-codegen.yaml
  backend/db.go
  backend/go.mod
  backend/go.sum
  backend/main.go
  backend/migrations/20240712155834.sql
  backend/migrations/20240712182506.sql
  backend/migrations/atlas.sum
  backend/models/models.go
  backend/server.go
  docker-compose.yaml
  openapi/spec.yaml
Due: go-fmt, go-vet, go-generate, go-mod-tidy

feat: add status endpoint
  backend/api/gen.go
  backend/api/status.go
  docker-compose.yaml
  openapi/spec.yaml
Due: go-fmt, go-vet, go-generate, go-mod-tidy

feat: tweak caching and healthcheck startup grace2
  README.md
  docker-compose.yaml
Due: none

feat: prepare ground for unit testing with fake cabinet generation
  .pre-commit-config.yaml
  backend/api/cabinets.go
  backend/api/gen.go
  backend/api/main.go
  backend/go.mod
  backend/go.sum
  backend/migrations/20240712211426.sql
  backend/migrations/atlas.sum
  backend/models/models.go
  openapi/spec.yaml
Due: go-fmt, go-vet, go-generate, go-mod-tidy

feat: add OpenAPI validation pre-commit hook
  .pre-commit-config.yaml
  backend/api/gen.go
  backend/api/status.go
  openapi/spec.yaml
Due: go-fmt, go-vet, go-generate, go-mod-tidy

feat: mark some columns as not null
  backend/migrations/20240712222723.sql
  backend/migrations/atlas.sum
  backend/models/models.go
Due: go-fmt, go-vet, go-generate, go-mod-tidy

feat: start to add database unit tests
  .github/actions/pre-commit/action.yaml
  .github/workflows/backend-test.yaml
  README.md
  backend/api/cabinets.go
  backend/go.mod
  backend/go.sum
  backend/models/cabinet_test.go
  backend/models/models.go
  backend/models/models_test.go
  docker-compose.yaml
Due: go-fmt, go-vet, go-generate, go-mod-tidy

feat: merge migrations
  backend/migrations/20240712182506.sql
  backend/migrations/20240712211426.sql
  backend/migrations/20240712222723.sql
  backend/migrations/atlas.sum
Due: go-fmt

feat: merge migrations
  README.md
  backend/migrations/20240713094706.sql
  docker-compose.yaml
Due: go-fmt

feat: actually test model insertion
  backend/models/cabinet_test.go
  backend/models/models_test.go
Due: go-fmt, go-vet, go-generate, go-mod-tidy

feat: start to use cleverness when querying cabinets
  backend/api/cabinets.go
  backend/api/gen.go
  backend/api/main.go
  backend/api/models_test.go
  backend/models/cabinet_test.go
  backend/models/fakes.go
  backend/models/fakes_test.go
  backend/models/models.go
  backend/models/queries.go
  backend/models/queries_test.go
  backend/models/testing.go
  openapi/spec.yaml
Due: go-fmt, go-vet, go-generate, go-mod-tidy

feat: do not assume postgres container starts on localhost
  backend/models/testing.go
Due: go-fmt, go-vet, go-generate, go-mod-tidy

feat: simplify tests
  backend/api/models_test.go
  backend/models/cabinet_test.go
  backend/models/fakes_test.go
  backend/models/queries_test.go
Due: go-fmt, go-vet, go-generate, go-mod-tidy

feat: add new testing utility module
  backend/main.go
  backend/middleware/logger.go
  backend/middleware/logger_test.go
  backend/models/testing.go
  backend/testing/db.go
Due: go-fmt, go-vet, go-generate, go-mod-tidy

feat: speculative copy of license to appease pkg.go.dev
  backend/COPYING.txt
Due: go-fmt

feat: start to re-factor local dev env
  .github/actions/pre-commit/action.yaml
  .pre-commit-config.yaml
  README.md
  docker-compose.yaml
  go.work
  taskfile.yaml
Due: none

feat: consolidate GitHub workflows
  .github/workflows/backend-test.yaml
  .github/workflows/build.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/test.yaml
Due: none

feat: name GitHub workflows nicely
  .github/workflows/test.yaml
Due: none

feat: move golang install out of pre-commit action
  .github/actions/pre-commit/action.yaml
  .github/workflows/test.yaml
Due: none

feat: specify go version in GitHub action
  .github/workflows/test.yaml
Due: none

feat: re-work local dev again
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  Dockerfile
  README.md
  backend/COPYING.txt
  backend/atlas.hcl
  backend/migrations/20240713094706.sql
  backend/migrations/atlas.sum
  compose/db/docker-entrypoint-initdb.d/10-create-databases.sql
  compose/db/docker-entrypoint-initdb.d/10-create-users.sql
  compose/db/docker-entrypoint-initdb.d/20-grant-database-permissions.sql
  db/atlas.hcl
  db/schema.hcl
  docker-compose.yaml
  go.mod
  go.sum
  go.work
  taskfile.yaml
Due: go-fmt

feat: add auto-generated gorm models
  .pre-commit-config.yaml
  backend/gentool.yaml
  backend/main.go
  backend/model/cabinets.gen.go
  backend/query/cabinets.gen.go
  backend/query/gen.go
  backend/tools/tools.go
  cmd/gendao/main.go
  docker-compose.yaml
  go.mod
  go.sum
Due: go-fmt, go-vet, go-generate, go-mod-tidy

feat: merge autogen models code
  backend/api/cabinets.go
  backend/api/models_test.go
  backend/api/queries.go
  backend/api/queries_test.go
  backend/model/cabinets.gen.go
  backend/model/cabinets_test.go
  backend/model/fakes.go
  backend/model/fakes_test.go
  backend/model/testsuite.go
  backend/models/models.go
  backend/query/cabinets.gen.go
  backend/test/db.go
  cmd/gendao/main.go
Due: go-fmt, go-vet, go-generate, go-mod-tidy

feat: make backend and cmd separate modules
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  backend/go.mod
  backend/go.sum
  backend/tools/tools.go
  cmd/go.mod
  cmd/go.sum
  go.work
  go.work.sum
  taskfile.yaml
Due: go-fmt, go-vet, go-generate, go-mod-tidy

fix: rever to compatible kin-openapi
  backend/go.mod
  backend/go.sum
Due: go-fmt

fix: fix Dockerfile
  Dockerfile
Due: none

fix: add uuid package to import
  cmd/gendao/main.go
Due: none

feat: disable test result caching in GitHub workflow
  .github/workflows/test.yaml
Due: none

feat: add friendlier fake name for cabinets
  backend/go.mod
  backend/model/cabinets.gen.go
  cmd/gendao/main.go
  cmd/go.mod
  cmd/go.sum
  go.work
Due: go-fmt, go-vet, go-generate, go-mod-tidy

feat: use 10s healtcheck on backend
  docker-compose.yaml
Due: none

feat: add database middleware
  backend/api/cabinets.go
  backend/api/main.go
  backend/main.go
  backend/middleware/db.go
  docker-compose.yaml
Due: go-fmt, go-vet, go-generate, go-mod-tidy

feat: att automatic jet schema creation
  backend/.gitignore
  backend/go.mod
  backend/go.sum
  backend/main.go
  backend/schema/backend/public/model/cabinets.go
  backend/schema/backend/public/table/cabinets.go
  backend/schema/backend/public/table/table_use_schema.go
  cmd/genmodels/main.go
  cmd/go.mod
  cmd/go.sum
  docker-compose.yaml
  go.work.sum
Due: go-fmt, go-vet, go-generate, go-mod-tidy

feat: rename development db to components
  backend/schema/components/public/model/cabinets.go
  backend/schema/components/public/table/cabinets.go
  backend/schema/components/public/table/table_use_schema.go
  compose/db/docker-entrypoint-initdb.d/10-create-databases.sql
  compose/db/docker-entrypoint-initdb.d/10-create-users.sql
  compose/db/docker-entrypoint-initdb.d/20-grant-database-permissions.sql
  db/atlas.hcl
  docker-compose.yaml
Due: go-fmt, go-vet, go-generate, go-mod-tidy

feat: add default to the create_at column
  db/schema.hcl
Due: none

feat: move to using liquibase to migrate db
  .pre-commit-config.yaml
  backend/schema/components/public/model/cabinets.go
  cmd/genmodels/main.go
  db/atlas.hcl
  db/changelog.sql
  db/schema.hcl
  docker-compose.yaml
Due: go-fmt, go-vet, go-generate, go-mod-tidy
